<header>
    <div class="container">
        <h1 class="mb-1">cutlery.js</h1>
        <p class="mb-0"><small>A set of useful javascript and sass tools – <a href="https://www.npmjs.com/package/cutleryjs" target="_blank">view on npm</a></small></p>
    </div>
</header>