* {
    transition: all .3s ease;
}

main {
    img {
        max-width: 100%;
    }
}

.docs-section {
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid #E5E5E5;
    
    &:target {
        border-color: #007bff;
        background-color: #007bff13;
    }
    
    *:last-child {
        margin-bottom: 0;
    }
    
    &__title {
        font-family: 'Space Mono', monospace;
        font-weight: bold;
    }
    
    &__function {
        color: #007bff;
        
        &::after {
            color: black;
        }
    }
}