<footer>
    <div class="container py-4 py-lg-5 d-flex justify-content-between">
        <small><span data-replace="copyright"></span></small>
        <small>Sourcecode on <a href="https://github.com/lennertderyck/docs/tree/master/cutlery.js" target="_blank">Github</a></small>
    </div>
</footer>