<footer>
    <div class="container py-5 d-flex justify-content-between">
        <small><span data-replace="copyright"></span></small>
        <small>Last updated on {{ page.date | date: "%a, %d %b %Y" }} ･ Sourcecode on <a href="https://github.com/lennertderyck/docs/tree/master/cutlery.js">GitHub</a></small>
    </div>
</footer>